<%- include('header') %>


<h1>Educator Dashboard</h1>
<h1 class="text-4xl font-bold  p-4 rounded-lg">
    Welcome <%= username %>!
</h1>

<nav>
    <a href="/educator-dashboard">Dashboard</a>
  </nav>
  
<%- include('buttons-educator') %>
<%- include('all-courses') %>

<div class="px-20 py-60">
    <%- include('footer') %>
</div>