<%- include('header') %>


<h1>Educator Dashboard</h1>
<h1 class="text-xl font-bold  p-4 rounded-lg">
    Showing Courses created by <%= fullname %>!
</h1>

<hr>
<h1 class="text-2xl py-10 font-bold text-center  p-4 rounded-lg">
    My Courses
</h1>
  
<div class="flex items-center justify-center py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <!-- Cards -->
        <% for(var i=0; i <  myCourses.length; i++) { %>
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
            <img class="w-full" src="https://via.placeholder.com/400x200" alt="Card Image 1">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2"><%= myCourses[i].title %></div>
                <div class="font-semibold text-l mb-1"><%= myCourses[i].educatorName %></div>
                <br>
                <div class="font-semibold text-l mb-1"><%= myCourses[i].id %></div>
                
                <p class="text-gray-700 text-base">
                   
                </p>
            </div>
            <div class="px-6 pt-4 pb-2 flex justify-between">
                <button onclick="window.location.href='/view-chapters/<%= myCourses[i].id %>';" class="bg-cyan-500 hover:bg-cyan-600 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">View Courses</button>
                <button onclick="window.location.href='/courses/<%= myCourses[i].id %>/chapters/new';" class="bg-green-600 hover:bg-green-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">Edit</button>
            </div>
        </div>
        <% } %>
       <!-- Cards -->
    </div>
</div>