<%- include('header') %>

<nav class="text-m font-medium text-gray-700 flex items-center space-x-2">
    <% if ( userRole === 'Educator') {%>
      <a href="/educator-dashboard" class="text-blue-600 hover:text-blue-800">Dashboard</a>
      <span class="text-gray-500">></span>
      <a href="/courses/<%= courseId %>/chapters" class="text-blue-600 hover:text-blue-800">chapters </a>
      <span class="text-gray-500">></span>
      <a href="/courses/<%= courseId %>/chapters/<%= chapterId %>" class="text-blue-600 hover:text-blue-800">pages</a>
      <% } else { %>
    <a href="/student-dashboard" class="text-blue-600 hover:text-blue-800">Dashboard</a>
    <span class="text-gray-500">></span>
      <a href="/courses/<%= courseId %>/chapters" class="text-blue-600 hover:text-blue-800">chapters </a>
      <span class="text-gray-500">></span>
      <a href="/courses/<%= courseId %>/chapters/<%= chapterId %>" class="text-blue-600 hover:text-blue-800">pages</a>
    <% } %>
</nav>


<h1 class="text-2xl py-10 font-bold text-center  p-4 rounded-lg">
      Page 
</h1>
<hr>

<%- include('flash') %>
<div class="max-w-full bg-white rounded-lg shadow-md mt-10 p-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-4"><%= page.title %></h2>
    <p class="text-gray-700 leading-relaxed">
        <%- page.content %>
    </p>
    <div class="px-6 pt-4 mt-40 pb-2 flex justify-between">
        <% if(userRole === 'Educator') { %>
            <% if ( isOwned ) { %>
                <a href="/courses/<%= courseId %>/chapters/<%= chapterId %>/pages/<%= pageId %>/edit">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
                  </svg>                    
                </a>
              <% } %>
        <%  } else {  
          if(isCompleted) { %>
                <button onclick="window.location.href='';" class="bg-stone-600 hover:bg-stone-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                    Completed
                </button>
         <%  }  else { %> 
            <button onclick="window.location.href='/courses/<%= courseId %>/chapters/<%= chapterId %>/pages/<%= pageId %>/markAsComplete';" class="bg-stone-600 hover:bg-stone-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                Mark As Complete
            </button>
            <%} %>

        <% } %>
        <% if(nextId === null) { %>
            <button class="bg-red-600 hover:bg-red-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                <!-- nextpage -->
                <svg class="nextPageIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
                <!-- maxpage -->
                <svg class="maxPageIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
                  </svg>
            </button>
        <% } else { %> 
            <button onclick="window.location.href='/courses/<%= courseId %>/chapters/<%= chapterId %>/pages/<%= nextId %>';" class="bg-red-600 hover:bg-red-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
            </button> 
        <% } %>

        
    </div>
</div>


<div class="px-20 py-60">
    <%- include('footer.ejs') %>
</div>