<%- include('header') %>

<h1>Educator Dashboard</h1>


<h1 class="text-2xl py-10 font-bold text-center  p-4 rounded-lg">
      Page 
</h1>
<hr>

<%- include('flash') %>
<div class="max-w-full bg-white rounded-lg shadow-md mt-10 p-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-4"><%= page.title %></h2>
    <p class="text-gray-700 leading-relaxed">
        <%= page.description %>
    </p>
    <div class="px-6 pt-4 mt-40 pb-2 flex justify-between">
        <% if(role) { %>
            <a href="/development %>">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
            </a>    
        
        <%  } else {  
          if(isCompleted) { %>
                <button onclick="window.location.href='';" class="bg-stone-600 hover:bg-stone-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                    Completed
                </button>
         <%  }  else { %> 
            <button onclick="window.location.href='/mark-complete/<%= page.id %>';" class="bg-stone-600 hover:bg-stone-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                Mark As Complete
            </button>
            <%} %>

        <% } %>
        <% if(nextId === null) { %>
            <button class="bg-red-600 hover:bg-red-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                <!-- nextpage -->
                <svg class="nextPageIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
                <!-- maxpage -->
                <svg class="maxPageIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
                  </svg>
            </button>
        <% } else { %> 
            <button onclick="window.location.href='/view-page/<%= nextId %>';" class="bg-red-600 hover:bg-red-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                </svg>
            </button> 
        <% } %>

        
    </div>
</div>


<div class="px-20 py-60">
    <%- include('footer.ejs') %>
</div>