<%- include('header') %>


<h1>Educator Dashboard</h1>


<h1 class="text-2xl py-10 font-bold text-center  p-4 rounded-lg">
      Page 
</h1>
<hr>

<%- include('flash') %>
<div class="max-w-full bg-white rounded-lg shadow-md mt-10 p-6">
    <h2 class="text-2xl font-bold text-gray-800 mb-4"><%= pages.title %></h2>
    <p class="text-gray-700 leading-relaxed">
        <%= pages.description %>
    </p>
    <div class="px-6 pt-4 mt-40 pb-2 flex justify-between">
        <% if(isCompleted) {  %> 
            <button onclick="window.location.href='';" class="bg-stone-600 hover:bg-stone-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
                Completed
            </button>
     <%  }  else { %> 
        <button onclick="window.location.href='/mark-complete/<%= pages.id %>';" class="bg-stone-600 hover:bg-stone-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
            Mark As Complete
        </button>
        <%} %>
        
        <button onclick="window.location.href='/signout';" class="bg-red-600 hover:bg-red-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
            </svg>
        </button>
    </div>
</div>

<!--   
TODO
Completed button toggle 
-->

<div class="px-20 py-60">
    <%- include('footer.ejs') %>
</div>