<%- include('header') %>

<%- include('flash') %>
<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-6 text-gray-800">Pages</h1>
  <ul class="space-y-4">
      <% for(var i = 0; i < pages.length; i++) { %>
          <li class="p-4 bg-white rounded-lg shadow-md hover:bg-gray-100 transition flex justify-between items-center">
              <div id="page-<%= (i + 1) %>">
                <a href="#page-<%= (i + 1) %>" class="text-xl font-semibold">Page <%= (i + 1) %>: <%= pages[i].title %></a>
              </div>
              <% if(userRole === 'Educator') { %>
                <a href="/view-page/<%= pages[i].id %>">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                  </svg>
                </a>
                <% break %>
              <% } %>
              
              <% if ( courses.courseId !== null ) { %>
                <% if (isCompleted) { %>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                    </svg>
                  <% } else { %>
                    <a href="/view-page/<%= pages[i].id %>">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                      </svg>
                    </a>
                  <% } %>
            <% } %>
          </li>
      <% } %>  
  </ul>
</div>
  


<div class="py-10">
</div>


<% if (userRole === 'Educator' && isOwned ) { %>
  <div class="p-4 py-10">
    <div class="bg-blue shadow-lg rounded-lg p-6 w-80 mx-auto">
      <div class="text-center py-2">
        <button onclick="window.location.href='/courses/<%= courseId %>/chapters/<%= chapter.id %>/pages/new';" class="bg-green-600 hover:bg-green-700 text-white px-2 py-1 rounded font-medium mr-2 mb-2 ">Add new page</button>
      </div>
    </div>
  </div>
<% } %>


<div class="px-20 py-60">
    <%- include('footer.ejs') %>
</div>